.leftNav {
    height: calc(100% - 50px);
    width: 320px;
    padding: 0;
    position: absolute;
    top: 50px;
    left: 0;
    overflow: hidden;
    background: white;
}

#map {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*标题的样式*/
.header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 20px 0 40px;
    background: linear-gradient(0deg, rgba(48, 189, 237, 0.84) 0, rgba(32, 133, 197, 0.82) 100%);
    color: #fff;
    font-size: 25px;
    font-weight: 200;
    z-index: 99;
}



